@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg {
    &-accent-200 {
      background-color: rgba(168 177 255 / 1);
      &\/30 {
        background-color: #a8b1ff4d;
      }
    }

    &-background {
      background: var(--background);
      &-secondary {
        background-color: var(--background-secondary);
      }

      &-tertiary {
        background-color: var(--background-tertiary);
      }
    }

    &-input {
      background-color: hsl(var(--input) / 1);
    }
  }

  .text {
    &-accent {
      &-200 {
        color: rgba(168 177 255 / 1);
      }
      &-300 {
        color: rgba(128 140 255 / 1);
      }
    }

    &-muted-foreground {
      color: hsl(var(--muted-foreground) / 1);
    }

    &-secondary-foreground {
      color: var(--secondary-foreground);
    }
  }

  .border-border {
    border-color: hsl(var(--border) / 1);
  }
}
