@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  src: url('/fonts/Satoshi.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 500;
  src: url('/fonts/Satoshi.woff2') format('woff2');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 700;
  src: url('/fonts/Satoshi.woff2') format('woff2');
}
